<div class="iku_hed minWidth">
    <div class="logoWrapper imgWrap">
        <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_logo") %>
    </div>
    <nav role="navigation">
        <ul>
            <li><span class="hov">STORIES</span></li>
            <li><span class="hov">ABOUT</span></li>
            <li><span class="hov">GET INVOLVED</span></li>
            <li><span class="hov">BLOG</span></li>
            <li><span class="hov">CONTACT</span></li>
            <li><span class="hov" class="iku_bookFont">ES</span></li>
            <li style="margin-right:0"><div class="contactIconWarapper imgWrap"><%= image_tag("sprites.png", :alt => "contact icon") %></div></li>
        </ul>
    </nav>
</div>
<div class="iku_mainVideo"></div>
<div class="iku_mv_descriptionBox">
<div class="cpybutWarapper imgWrap"><%= image_tag("sprites.png", :alt => "ikusi logo", :id => "pyBut", :class => "iku_playButton") %></div>
    </br>
    <span class="iku_mvTitle">NI MÁS NI MENOS</span></br>
    <span class="iku_mvsubTitle">5 HISTORIAS 5 VIDAS 5 SUEÑOS</span>
</div>

<div class="iku_right_buttons">
    <div class="iku_twWrap imgWrap rightButtons">
        <a href="https://twitter.com/intent/tweet?text=comenta este video en twitter lokooooooo">
            <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_tw") %>
        </a>
    </div>
    <div class="iku_fbWrap imgWrap rightButtons">
        <a href="#" onclick="window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.ikusi.org'), 
          'ikusi es lo másss', 
          'width=626,height=436'); 
                        return false;">
        <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_fb") %>
        </a>
    </div>
    <div class="iku_donateWrap imgWrap rightButtons">
        <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_donate") %>
    </div>
</div>

<div class="iku_footer minWidth">
    <div class="moreWrapper imgWrap">
        <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "moreImg") %>
    </div>
    <span class="iku_footLogo iku_lightFont">iKusi <string style="font-weight: bold;">©</string> 2013</span>
    <span class="iku_info iku_lightFont">T.-59823365789 | info@ikusi.org | Pablo de María 2345 | Montevideo, Uruguay</span>
</div>

<div id="vdPlayer"></div>
<div id="bkdPly"></div>

<script>
var playerCtrl;
function onYouTubeIframeAPIReady() {
    playerCtrl = new YouTubeController("vdPlayer");
    var video1 = {"youTubeId": "PLzfcpxK7Y8rQMRErZrj_h-ENuMMDXs98r","coverId":"pyBut","description": "videoDescription"};
    playerCtrl.add( video1 );
}

//***** youTube library ********/
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
/************************************************/
$(document).on('keydown', function(e){
    if(e.which==27){ // ESC
         playerCtrl.hideVideo();
    }
});
</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>