<%= render "home/header" %>
<div id="wrapp" style="width: 100%; height: 100%;">
    <div id="scroller">
    <%= render "home/ayudanos" %>
        <%= render "home/home" %>
        <%= render "home/vcc" %>
        <%= render "home/nuestros_proy" %>
        <%= render "home/ultimos_post" %>
        
        <%= render "home/contactanos" %>
    </div>
</div>
<%= render "home/iku_left_buttons" %>